[Desktop Entry]
Encoding=UTF-8
Name=Eclipse Integrated Development Environment
Exec=eclipse
Icon=
Terminal=false
Type=Application
Categories=Application;Development
