[Desktop Entry]
Encoding=UTF-8
Name=Eclipse Integrated Development Environment
Exec=eclipse
Icon=/opt/eclipse/icon.xpm
Terminal=false
Type=Application
Categories=Application;Development
