[Desktop Entry]
Encoding=UTF-8
Name=Icecat
Exec=icecat-bin
Icon=/opt/icecat/icons/default.xpm
Terminal=false
Type=Application
Categories=Application;Network;Browsers
